html,
body {
  height: 100vh !important;
  width: 100% !important;
  margin: 0px;
  overflow: hidden;
  background-color: rgb(236, 240, 241);
}

main {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: none !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --color-primary: #274C87;
  --color-secondary: #FDBA11;
  --color-accent: #FF4040;
  --color-highlight: #FFD365;

  --color-text: #2C2C2C;
  --color-text-secondary: #5A6268;
  --color-text-light: #FFFFFF;
  --color-link: #007BBD;
  --color-background: #F5F7FA;

  --color-error: #E74C3C;
  --color-success: #27AE60;
}